.navigation-container,
.navigation-mobile {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-white);
  box-shadow: var(--shadow);
  position: fixed;
  top: 0;
  z-index: 99;
  --width: 60rem;
}

.navigation-mobile {
  display: none;
  position: fixed;
  top: auto;
  bottom: 0;
  margin-bottom: 0;
  justify-content: center;
}

.navigation-wrapper {
  width: var(--width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  position: relative;
  padding: 0 2rem;
}

.navigation-links {
  width: max-content;
  height: 4rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-mobile .navigation-links {
  justify-content: space-between;
  gap: 2rem;
}

.navigation-link {
  height: 100%;
  list-style: none;
  padding: 1.3rem;
  position: relative;
}

.navigation-link .navigation-icon {
  width: 1.8rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.navlink:not(.selected) .navigation-icon:not(.filled) {
  opacity: 1;
}

.navigation-link:hover .navigation-icon.filled {
  opacity: 1;
}

.navigation-link:hover .navigation-icon:not(.filled) {
  opacity: 0;
}

.navlink.selected .navigation-icon.filled {
  opacity: 1;
}

.navigation-link path {
  fill: var(--clr-body-800);
}

.navigation-link:hover {
  cursor: pointer;
}

.profile-img {
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--clr-black);
  border-radius: 50%;
  cursor: pointer;
}

.nav-logo {
  width: 8rem;
  min-width: 8rem;
}

.form-search {
  flex: 1;
  margin: 0 4rem;
  position: relative;
}

.form-search .input-container {
  margin-bottom: 0 !important;
}

.form-search:focus-within .searchButton {
  opacity: 1;
}

.searchButton {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 3rem;
  height: 100%;
  padding: 0.7rem;
  display: grid;
  place-items: center;
  opacity: 0.6;
  cursor: pointer;
}

.searchButton:hover {
  opacity: 1;
}

.searchButton svg {
  width: 100%;
  height: 100%;
  vertical-align: baseline;
}

.searchButton path {
  fill: var(--clr-body-800);
}

.notification-popup {
  width: 26rem;
  max-height: 60vh;
  overflow: auto;
  padding: 0 1rem 1rem;
  background-color: var(--clr-white);
  box-shadow: var(--shadow);
  position: absolute;
  right: 0;
  top: 5rem;
  transition: all 0.3s;
}

.notification-popup.hidden {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-1rem);
}

.notification-header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  background-color: var(--clr-white);
}

.notification-content {
  width: 100%;
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

.notification-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.35rem;
}

.notification-item:hover {
  background-color: var(--clr-body-300);
}

.notification-item_image {
  width: 1.8rem;
  height: 1.8rem;
  object-fit: cover;
  border-radius: 50%;
}

.notification-item_content-followers {
  margin-bottom: 0;
}

.notification-item_content-created {
  margin-bottom: 0;
}

#notification .notification-icon.filled {
  opacity: 0;
}

#notification:hover .notification-icon.filled {
  opacity: 1;
}

#notification .notification-icon:not(.filled) {
  opacity: 1;
}

#notification:hover .notification-icon:not(.filled) {
  opacity: 0;
}

#notification.selected .notification-icon.filled {
  opacity: 1;
}

.search-popup {
  width: 26rem;
  max-height: 40vh;
  overflow-y: auto;
  background-color: var(--clr-white);
  position: fixed;
  left: 46%;
  top: 5rem;
  transform: translateX(-50%);
  box-shadow: var(--shadow);
}

.search-popup.hidden {
  display: none;
}

.searchaccounts-header {
  padding: 1rem;
}

.searchaccounts-item {
  padding: 1rem;
}

.addpost-popup {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addpost-popup.hidden {
  display: none;
}

.addpost-container {
  width: 32rem;
  background-color: var(--clr-white);
  z-index: 3;
  display: flex;
  flex-flow: column;
  padding: 1rem;
}

.addpost-image {
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
  background-color: var(--clr-body-100);
  border-radius: 0.75rem;
  overflow: hidden;
  border: solid 1px var(--clr-body-200);
}

.addpost-image:hover {
  background-color: var(--clr-body-200);
}

.addpost-icon {
  width: 4.5rem;
}

.addpost-icon path {
  fill: var(--clr-body-400);
}

.addpost-description {
  flex: 1;
}

.addpost-textarea {
  width: 100%;
  height: 40%;
  resize: none;
}

.addpost-image_content {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-addpost {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  padding: 1rem 0;
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .navigation-container {
    --width: calc(100% - 4rem);
  }

  .navigation-wrapper {
    padding: 0;
  }

  .form-search {
    margin: 0 2rem;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 767.98px) {
  .navigation-container {
    --width: calc(100% - 2rem);
  }
  .form-search {
    display: none;
  }

  .notification-popup {
    width: 100%;
  }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .navigation-container {
    margin-bottom: 0;
  }
  .navigation-mobile {
    display: flex;
  }

  .navigation-wrapper {
    gap: 1rem;
  }

  .navigation-container #home,
  .navigation-container #directMessage,
  .navigation-container #addPost {
    display: none;
  }
}
