.navigation-container {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-white);
  box-shadow: var(--shadow);
  position: sticky;
  margin-bottom: 2rem;
  top: 0;
  z-index: 99;

  --width: 48rem;
}

.navigation-wrapper {
  width: var(--width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.navigation-links {
  height: 4rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-link {
  height: 100%;
  list-style: none;
  padding: 1.3rem;
  position: relative;
}

.navigation-link svg {
  width: 1.8rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.navigation-link.selected svg.selected,
.navigation-link:not(.selected) svg:not(.selected) {
  opacity: 1;
}

.navigation-link:not(.selected):hover svg.selected {
  opacity: 1;
}

.navigation-link:not(.selected):hover svg:not(.selected) {
  opacity: 0;
}

.navigation-link.selected svg:not(.selected),
.navigation-link:not(.selected) svg.selected {
  opacity: 0;
}

.navigation-link path {
  fill: var(--clr-body-800);
}

.navigation-link:hover {
  cursor: pointer;
}

.profile-img {
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--clr-black);
  border-radius: 50%;
  cursor: pointer;
}

.nav-logo {
  width: 8rem;
  min-width: 8rem;
}

.form-search {
  flex: 1;
  margin: 0 4rem;
  position: relative;
}

.form-search .input-container {
  margin-bottom: 0 !important;
}

.form-search:focus-within .searchButton {
  opacity: 1;
}

.searchButton {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 3rem;
  height: 100%;
  padding: 0.7rem;
  display: grid;
  place-items: center;
  opacity: 0.6;
  cursor: pointer;
}

.searchButton:hover {
  opacity: 1;
}

.searchButton svg {
  width: 100%;
  height: 100%;
  vertical-align: baseline;
}

.searchButton path {
  fill: var(--clr-body-800);
}

.notification-popup {
  width: 26rem;
  max-height: 60vh;
  overflow: auto;
  padding: 0 1rem 2rem;
  background-color: var(--clr-white);
  box-shadow: var(--shadow);
  position: fixed;
  right: 1rem;
  top: 5rem;
}

.notification-header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  background-color: var(--clr-white);
}

.notification-content {
  width: 100%;
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

.notification-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.35rem;
}

.notification-item:hover {
  background-color: var(--clr-body-300);
}

.notification-item_image {
  width: 1.8rem;
  height: 1.8rem;
  object-fit: cover;
  border-radius: 50%;
}

.notification-item_content-followers {
  margin-bottom: 0;
}

.notification-item_content-created {
  margin-bottom: 0;
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .navigation-container {
    --width: calc(100% - 4rem);
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 767.98px) {
  .navigation-container {
    --width: calc(100% - 2rem);
  }
  .form-search {
    display: none;
  }
}
