.content-container {
  --width: 48rem;
}

.post-card {
  width: var(--width);
}

.card-head {
  display: flex;
  gap: 1rem;
}

.card-body {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

.card-head_image {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 50%;
}

.card-head_profile {
  width: 100%;
  position: relative;
}

.post-created {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  text-align: right;
}

.card-head_profile-name {
  margin-bottom: 0;
}

.card-head_profile-followers {
  margin-bottom: 0;
}

.card-content {
  width: 100%;
  display: flex;
  flex-flow: column;
}

.card-content_image {
  width: 100%;
}

.caption {
  display: flex;
}

.isi-caption {
  margin-left: 2%;
}

.card-caption {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
}

.card-caption_action {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.like-count {
  margin-bottom: 0.3rem;
}

.card-caption_action-like-button {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.like-icon {
  width: 2.2rem;
  position: absolute;
}

.like-icon.filled {
  opacity: 0;
}

.like-icon.selected {
  opacity: 1;
  pointer-events: none;
}

.card-caption_action-like-button:hover .like-icon.filled {
  opacity: 1;
}

.post-sender {
  margin-right: 0.5rem;
}

.card-comments {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  margin-top: 1rem;
  height: 14rem;
  overflow: hidden;
  position: relative;
}

.card-comments.show {
  height: max-content;
}

.card-comments.show .card-comments_show-button {
  display: none;
}

.card-comments_show-button {
  width: 100%;
  height: 6rem;
  display: grid;
  place-items: center;
  position: absolute;
  bottom: 0;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.5130252784707633) 88%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 3;
}

.card-comments_item {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.card-comments_item-profile {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  border-radius: 50%;
}

.card-comments_item-content {
  flex: 1;
}

.card-comments_item-content_sender {
  margin-right: 0.5rem;
}

.card-comments_item-createdTime {
  opacity: 0.3;
}

.card-footer {
  padding: 0 !important;
}

.comment-input {
  resize: none;
  background-color: transparent !important;
  border: none !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.form-comment {
  position: relative;
}

.post-comment {
  font-weight: 800;
  color: var(--clr-primary-0-dark);
  position: absolute;
  right: 1rem;
  top: 0.375rem;
  cursor: pointer;
  opacity: 0.6;
}

.post-comment:hover {
  opacity: 1;
}

.post-comment.disabled {
  pointer-events: none;
  opacity: 0.3;
}
