/* .login-background{
    background-color: #F3F3F3;
    position: fixed;
    inset: 0;
    z-index: -1;
    background-image: url('../Image/bglogin.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
} */

.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.login-image-container {
  flex: 1.6;
  height: 100%;
}

.login-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-form-container {
  flex: 1;
  min-width: 48rem;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.login-form-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: min(28rem, 100% - 2rem);
  padding: 2rem 0;
  height: 100%;
}

.login-form {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

.logo {
  width: 2.3rem;
}

/* .login{
    background-color: #FFFFFF;
    margin-top: 1.5%;
    box-shadow: 0 1.1px 5.3px rgba(0, 0, 0, 0.024),0 3.8px 17.9px rgba(0, 0, 0, 0.036), 0 17px 80px rgba(0, 0, 0, 0.06);
    border-radius: 12px;
} */

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .login-form-container {
    min-width: 0;
  }

  .login-form-wrapper {
    justify-content: flex-start;
    padding: 1rem 0;
  }
  .login-form {
    margin-top: 4rem;
  }

  .copyright-text {
    margin-top: auto;
  }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .login-form {
    margin-top: 2rem;
  }
}
