.profile p {
  margin-bottom: 0;
}

.profile .content-wrapper {
  flex-flow: column;
  padding-bottom: 6rem;
  align-items: center;
}

.profile-header {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.profile-header_image-container {
  width: 12rem;
  height: 12rem;
  border-radius: 0.75rem;
  overflow: hidden;
}

.profile-header_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-header_detail {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.profile-header_detail-header {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.profile .btn {
  width: max-content;
}

.profile-header_detail-counts {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.profile-header_detail-counts > div {
  width: 6rem;
  background-color: var(--clr-white);
  border-radius: 0.35rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  cursor: pointer;
}

.profile-description {
  margin-bottom: 1rem;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.profile-posts {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.profile-post-item {
  width: calc(100% / 3 - 1rem);
  aspect-ratio: 1/1;
  position: relative;
}

.profile-post-item_image {
  width: 100%;
  height: 100%;
  position: absolute;
}

.profile-post-item:hover .profile-post-item-wrapper {
  opacity: 1;
}

.profile-post-item-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.profile-action {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.profile-post-item_detail {
  display: flex;
  gap: 1rem;
}

.profile-post-item_detail-icon {
  width: 1.3rem;
}

.profile-post-item_detail-icon path {
  fill: var(--clr-white);
}

.profile-post-item_detail-button-text {
  color: var(--clr-white) !important;
}

.popup-accounts {
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  position: fixed;
}

.popup-container {
  width: 26rem;
  background-color: var(--clr-white);
  z-index: 3;
  max-height: 60vh;
  overflow-y: auto;
}

.profile .accountlists-container {
  gap: 0;
}

.accounts-header {
  padding: 1rem;
  position: sticky;
  top: 0;
  background-color: var(--clr-white);
  z-index: 2;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.profile .accountlists-header_subtitle {
  color: var(--clr-body-600) !important;
}

.profile .accountlists-content {
  gap: 0;
  padding: 0 1rem;
  padding-bottom: 2rem;
}

.accounts-item {
  padding: 0 1rem;
  opacity: 1;
}

.accounts-item:hover {
  background-color: var(--clr-body-300);
}

.button-message {
  background-color: var(--clr-white);
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
}

.button-message:hover {
  background-color: var(--clr-body-100);
}

.button-message-icon {
  width: 1.3rem;
}

.report-button {
  width: 3.5rem;
  height: 3.5rem;
  padding: 1rem;
  background-color: rgba(var(--bs-danger-rgb), 0.3);
  position: fixed;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 5rem;
  cursor: pointer;
  border-radius: 0.75rem;
}

.report-button:hover {
  background-color: rgba(var(--bs-danger-rgb), 0.6);
}

.report-button svg {
  fill: var(--clr-white);
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .content-wrapper {
    padding-inline: 1rem;
  }

  .profile-post-item {
    width: calc(100% / 2 - 1rem);
    aspect-ratio: 1/1;
    background-color: tomato;
  }
}

@media (max-width: 400px) {
  .profile-header_detail-counts {
    flex-wrap: wrap;
  }

  .profile-header_detail-counts > div {
    width: 100%;
  }

  .profile-post-item {
    width: 100%;
    aspect-ratio: 1/1;
    background-color: tomato;
  }
}
